td {
  width: 0; /* Initially set the width to 0 */
  padding: 0;
  vertical-align: top;
}

.song-title {
  text-align: center;
  font-size: 17px;
  text-decoration: underline;
}

a {
  color: white !important;
  text-decoration: underline !important;
}
